@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*, head, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    padding: 0;
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
}

.flex {
    flex-wrap: wrap;
    display: flex;
}

.flex2 {
    display: flex;
    flex-direction: column;
}

.jcc {
    justify-content: center;
}

.jce {
    justify-content: end;
}

.jcsb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.aie {
    align-items: end;
}

.txtc {
    text-align: center;
}

.txte {
    text-align: end;
}


/*   HEADER   */


header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("Content/Image/bgMain.PNG") no-repeat;
    background-size: cover;

}

.menu {
    display: none;
    width: 40px;
    height: 40px;
}

.menu span {
    height: 2px;
    width: 40px;
    background-color: white;
    float: left;
}

#showMeBlock {
    display: flex;
    position: absolute;
    top: -200px;
    right: 1px;
    width: 100%;
    height: 70px;
    transition: ease-in-out 0.5s;
    background-color: #3b3b3b;
    justify-content: center;
}

.showMeBlock {
    display: flex;
    position: absolute;
    top: 75px !important;
    right: 1px;
    width: 100%;
    height: 70px;
    transition: ease-in-out 0.5s;
    background-color: #3b3b3b;
}

#showMeBlock a {
    color: white;
    font-size: 30px;
    padding: 0 10px;
}

.infoHeader {
    width: 100%;
    height: 70px;
    border-bottom: 2px solid white;
}

.imgHeader img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.logo span {
    margin-left: 10px;
    font-size: 30px;
    color: white;
    font-weight: 600;
    text-shadow: black 2px 0 0;
}

.webHeader a {
    color: white;
    font-size: 30px;
    margin-left: 20px;
}

.webHeader a:hover {
    border-bottom: 2px solid white;
}

.textInfo {
    height: 80%;
    width: 100%;
}

.textInfo H1 {
    font-size: 30px;
    color: white;
}


/*   INFO   */


.xiaomiInformation {
    padding: 30px 0;
    border-bottom: 2px solid black;
}

.xiaomiInformation2 {
    padding: 30px 0;
}

.cardInfo {
    width: 100%;
}

.imgInfo {
    width: 20%;
}

.textInfoCard {
    width: 79%;
}

.imgInfo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.textHeader H2 {
    font-size: 35px;
    font-weight: 500;
}

.textDesc span {
    font-size: 25px;
}


/*   FOOTER   */


footer {
    width: 100%;
    height: 100px;
    background-color: #3b3b3b;
    color: white;
}

.mob {
    font-size: 25px;
    font-weight: 500;
}

.mainBtn a {
    color: white;
}

.buttonHelp {
    cursor: pointer;
    border: 2px solid white;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.5s;
}

.buttonHelp:hover {
    color: #ff6709;
    border-color: #ff6709;
}


/*    media   */


@media (max-width: 1350px) {
    .container {
        max-width: 1100px;
    }

}

@media (max-width: 1150px) {
    .container {
        padding: 0 10px;
    }

    .textInfo H1 {
        font-size: 30px;
        text-align: center;
    }

    .cardInfo {
        display: block;
    }

    .imgInfo {
        text-align: center;
        width: 100%;
    }

    .imgInfo img {
        width: 500px;
        height: 500px;
    }

    .textInfoCard, .textHeader {
        text-align: center;
        width: 100%;
    }

    .textHeader H2 {
        font-size: 50px;
    }

    .textDesc span {
        font-size: 30px;
    }
}


@media (max-width: 530px) {
    .imgInfo img {
        width: 70%;
        height: 70%;
    }
}

@media (max-width: 500px) {
    .menu {
        display: flex;
    }

    .webHeader {
        display: none;
    }

    footer {
        height: 150px;
    }

    footer .container {
        display: block;
    }

    .leftFooter {
        padding: 10px 0;
        text-align: center;
    }

    .buttonHelp {
        width: 220px;
        text-align: center;
        margin: 0 auto;
    }

    .textInfo H1 {
        font-size: 25px;
    }

    .imgInfo img {
        width: 60%;
        height: 60%;
    }
}

@media (max-width: 323px) {
    .textInfo H1 {
        font-size: 23px;
    }

    .textHeader H2 {
        font-size: 30px;
    }

    .textDesc span {
        font-size: 20px;
    }
}

@media (max-width: 262px) {
    .textInfo H1 {
        font-size: 20px;
    }
}