<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание компании</title>
    <link rel="stylesheet" href="styleInfo.css">
    <link rel ="icon" href="../Content/Image/favicon.ico" type="images/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
    <div class="container">
        <div class="infoHeader flex jcsb aic jcc">
            <div class="logo flex aic">
                <div class="imgHeader">
                    <a href="../index.html">
                        <img src="../Content/Image/full.png" alt="">
                    </a>
                </div>
                <a href="../index.html"><span>XIAOMI</span></a>
            </div>
            <div class="webHeader">
                <a href="https://www.mi.com/ru/index.html">mi.com</a>
                <a href="https://ru.c.mi.com">MI Помощь</a>
            </div>
            <div class="menu flex aic" onclick="OpenMe()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div id="showMeBlock">
                <div class="flex txtc jcc aic">
                    <a href="https://www.mi.com/ru/index.html">mi.com</a>
                    <a href="https://ru.c.mi.com">MI Помощь</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="textInfo aic">
            <div class="imgMain flex jcc aic txtc">
                <img src="../Content/Image/1.jpg" alt="">
            </div>
            <div class="allText">
                <div class="headerText txtc">
                    <span>Создание компании</span>
                </div>
                <div class="infoText">
                    <span>
                        Xiaomi основал бизнесмен Лэй Цзюнь вместе еще с семью партнерами 6 апреля 2010 года. О главной фигуре компании, Лей Цзюне, мы поговорим отдельно, но среди остальных основателей тоже много интересных лиц:

Бинь Линь (Bin Lin), президент компании — работал над Windows Vista и Internet Explorer 8 и с 2006 года управлял развитием мобильного поиска и локализацией приложений для Китая.

Ванцян Ли (Wanqiang Li), руководитель отдела электронной коммерции в Mi.com — работал в Kingsoft главным конструктором интерфейса для софта, директором Центра дизайна. Участвовал в разработке программ WPS Office, Kingsoft Antivirus и Dictionary.

<br><br>Гуанпин Чжоу (Guangping Zhou), директор группы Mi-Phone — руководитель Центра исследований и разработок в Motorola, работал над созданием телефона Motorola Ming.

<br><br>Вонг Цзянцзи (Wong Jiangji), глава отделов Mi Wi-Fi и Mi Cloud — в Microsoft руководил разработкой систем анализа на удаленных серверах и другими сервисами B2B, Windows Mobile для Китая и мультимедийными функциями в Windows Phone 7.

<br><br>Фэн Хун (Feng Hong), глава отдела MIUI — в Google руководил проектами Calendar, Maps и 3D Street View, а также возглавлял команду Google China для локализации Google Music и Pinyin Input.

<br><br>Де Лю (De Liu), руководитель отделов индустриального дизайна и экосистем — возглавлял Департамент промышленного дизайна Пекинского технологического университета.

<br><br>Чуан Ван (Chuan Wang), директор продуктов Mi TV и Mi Box — создатель компании Thunder Stone, которая занималась поставками аудио- и видеооборудования для развлечений в Китае

Первые 3 месяца они занимались поиском финансирования и разработкой новой мобильной системы на основе Android. В августе того же года миру представили оболочку MIUI.
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container flex jcsb aic">
        <div class="leftFooter">
            <div class="mob"><span>8-800-775-66-15</span></div>
            <div class="timeWork"><span>Часы работы с 9:00 до 20:00 МСК, Пн. – Пт</span></div>
        </div>
        <div class="rightFooter">
            <div class="buttonHelp">
                <span>Онлайн-поддержка</span>
            </div>
        </div>
    </div>
</footer>


<script src="../OpenMe.js"></script>
</body>
</html>