<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лей Цзюнь</title>
    <link rel="stylesheet" href="styleInfo.css">
    <link rel ="icon" href="../Content/Image/favicon.ico" type="images/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
    <div class="container">
        <div class="infoHeader flex jcsb aic jcc">
            <div class="logo flex aic">
                <div class="imgHeader">
                    <a href="../index.html">
                        <img src="../Content/Image/full.png" alt="">
                    </a>
                </div>
                <a href="../index.html"><span>XIAOMI</span></a>
            </div>
            <div class="webHeader">
                <a href="https://www.mi.com/ru/index.html">mi.com</a>
                <a href="https://ru.c.mi.com">MI Помощь</a>
            </div>
            <div class="menu flex aic" onclick="OpenMe()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div id="showMeBlock">
                <div class="flex txtc jcc aic">
                    <a href="https://www.mi.com/ru/index.html">mi.com</a>
                    <a href="https://ru.c.mi.com">MI Помощь</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="textInfo aic">
            <div class="imgMain flex jcc">
                <img src="../Content/Image/4.jpg" alt="">
            </div>
            <div class="allText">
                <div class="headerText txtc">
                    <span>Лей Цзюнь</span>
                </div>
                <div class="infoText">
                    <span>
                      Его называют «китайским Стивом Джобсом», хотя ничего общего в их биографиях нет. Сам Лей Цзюнь много раз рассказывал, как его вдохновлял пример Стива Джобса. На сцене Лей любит одеваться в простую одежду и вести размеренную беседу с публикой, как и Стив. Но на этом все сходства заканчиваются, если не брать в расчет, что каждый из них основал крупную и успешную компанию.
Если Apple создавалась в небольшом гараже, то Xiaomi — проект с рациональным подходом от уже успешного бизнесмена. Да и Xiaomi намного более открытая компания для потребителей.
<br><br>
Лей Цзюнь родился в 1969 году в небольшой провинции на востоке Китая. В школе учился он средне, в 1991 окончил университет, получив степень бакалавра информатики. Там он увлекся программированием и компьютерными технологиями.

На одной технологической выставке в Пекине он познакомился с Цю Боцзюнем, вице-президентом компании Kingsoft — сейчас это знаменитый китайский производитель софта, а тогда в ней работало 6 человек. Лей получил приглашение на ужин с вице-президентом, где ему предложили работу инженера. Уже в 1998 году Лей получит пост генерального директора компании Kingsoft. Параллельно с основной работой он разрабатывал сайт Joyo.com с книгами, фильмами и музыкой. Чуть позже его выкупила Amazon за 75 миллионов долларов.
<br><br>
В 2007 году компания Kingsoft выходит на IPO, так Лей Цзюнь стал успешным бизнесменом и начинающим инвестором. До создания Xiaomi он вложил деньги в 20 проектов, почти все они работают в интернете.
Видимо, сам Лей Цзюнь не любит рассказывать о себе, либо в его жизни не было особо знаменательных событий, которые перевернули его жизнь с ног на голову. Я вижу расчетливого человека, который постепенно развивался, не задерживался на скучной работе и довольно успешно предсказывал, что будет востребовано в будущем. В общем, он трудолюбивый и расчетливый человек — возможно, это и связывает Лей Цзюня и Стива Джобса.
</span>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container flex jcsb aic">
        <div class="leftFooter">
            <div class="mob"><span>8-800-775-66-15</span></div>
            <div class="timeWork"><span>Часы работы с 9:00 до 20:00 МСК, Пн. – Пт</span></div>
        </div>
        <div class="rightFooter">
            <div class="mainBtn">
                <a href="https://account.xiaomi.com/pass/serviceLogin?callback=https%3A%2F%2Fru.support.kefu.mi.com%2Fsts%3Fsign%3Det%252Bo13G%252F1ziIxrnhFQdpny%252FfBaw%253D%26followup%3Dhttp%253A%252F%252Fru.support.kefu.mi.com%252Fpage%252Findex%252Fv2%253Ftag%253Dru%2526token%253DcnUud2ViLm1pIzdzYjJxTXFZNVQ%2526locale%253Dru&sid=kefusupport_ru" target="_blank">
                    <div class="buttonHelp">
                        <span>Онлайн-поддержка</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>

<script src="../OpenMe.js"></script>
</body>
</html>