<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Развитие и новые рынки</title>
    <link rel="stylesheet" href="styleInfo.css">
    <link rel ="icon" href="../Content/Image/favicon.ico" type="images/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
    <div class="container">
        <div class="infoHeader flex jcsb aic jcc">
            <div class="logo flex aic">
                <div class="imgHeader">
                    <a href="../index.html">
                        <img src="../Content/Image/full.png" alt="">
                    </a>
                </div>
                <a href="../index.html"><span>XIAOMI</span></a>
            </div>
            <div class="webHeader">
                <a href="https://www.mi.com/ru/index.html">mi.com</a>
                <a href="https://ru.c.mi.com">MI Помощь</a>
            </div>
            <div class="menu flex aic" onclick="OpenMe()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div id="showMeBlock">
                <div class="flex txtc jcc aic">
                    <a href="https://www.mi.com/ru/index.html">mi.com</a>
                    <a href="https://ru.c.mi.com">MI Помощь</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="textInfo aic">
            <div class="imgMain flex jcc">
                <img src="../Content/Image/5.jpg" alt="">
            </div>
            <div class="allText">
                <div class="headerText txtc">
                    <span>Развитие и новые рынки</span>
                </div>
                <div class="infoText">
                    <span>
                        Следующим этапом для компании стал анонс телевизора 5 сентября 2013 года, который получил 47-дюймовый дисплей с 3D и системой SmartTV на базе Android. Другим важным событием присоединение Хьюго Барра к Xiaomi на пост вице-президента. В прошлом он работал в Google над Android и был лицом системы на всех конференциях.
Также в сентябре представили новый флагман Xiaomi Mi3, который позволил компании еще сильнее увеличить продажи. В итоге за 2013 год они продали 18,7 миллиона устройств, но это только начало бурного роста.
<br><br>
В 2014 году Xiaomi начала заниматься продажей роутеров, ТВ-приставок, очистителей воздуха, портативных аккумуляторов и прочей мелкой техники и аксессуаров, параллельно с этим она расширяет линейку смартфонов до невообразимого количества, выпускает MIUI 6 и анонсирует планшет Mi Pad. В тот момент рынок планшетов начал постепенно падать, поэтому в нем спасения найти не удалось.
<br><br>
Настоящим бестселлером стал фитнес-браслет Mi Band. Компании удалось выпустить самый «умный» гаджет с поразительно низкой ценой и захватить только формирующийся рынок носимой электроники, уступая только уже устоявшемуся лидеру Fitbit.
<br><br>
Xiaomi по итогам 4 квартала 2014 года заняла пятое место среди мировых производителей смартфонов с долей рынка 4,42% и стала абсолютным лидером по поставкам в Китае с долей 13,7% (данные IDC). Заодно Xiaomi выполнила амбициозную цель — продать 60 миллионов смартфонов за 2014 год. Таких результатов компания добилась меньше чем за 4 года работы.
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container flex jcsb aic">
        <div class="leftFooter">
            <div class="mob"><span>8-800-775-66-15</span></div>
            <div class="timeWork"><span>Часы работы с 9:00 до 20:00 МСК, Пн. – Пт</span></div>
        </div>
        <div class="rightFooter">
            <div class="mainBtn">
                <a href="https://account.xiaomi.com/pass/serviceLogin?callback=https%3A%2F%2Fru.support.kefu.mi.com%2Fsts%3Fsign%3Det%252Bo13G%252F1ziIxrnhFQdpny%252FfBaw%253D%26followup%3Dhttp%253A%252F%252Fru.support.kefu.mi.com%252Fpage%252Findex%252Fv2%253Ftag%253Dru%2526token%253DcnUud2ViLm1pIzdzYjJxTXFZNVQ%2526locale%253Dru&sid=kefusupport_ru" target="_blank">
                    <div class="buttonHelp">
                        <span>Онлайн-поддержка</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>

<script src="../OpenMe.js"></script>
</body>
</html>