<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Снижение темпа</title>
    <link rel="stylesheet" href="styleInfo.css">
    <link rel ="icon" href="../Content/Image/favicon.ico" type="images/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
    <div class="container">
        <div class="infoHeader flex jcsb aic jcc">
            <div class="logo flex aic">
                <div class="imgHeader">
                    <a href="../index.html">
                        <img src="../Content/Image/full.png" alt="">
                    </a>
                </div>
                <a href="../index.html"><span>XIAOMI</span></a>
            </div>
            <div class="webHeader">
                <a href="https://www.mi.com/ru/index.html">mi.com</a>
                <a href="https://ru.c.mi.com">MI Помощь</a>
            </div>
            <div class="menu flex aic" onclick="OpenMe()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div id="showMeBlock">
                <div class="flex txtc jcc aic">
                    <a href="https://www.mi.com/ru/index.html">mi.com</a>
                    <a href="https://ru.c.mi.com">MI Помощь</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="textInfo aic">
            <div class="imgMain flex jcc">
                <img src="../Content/Image/6.jpg" alt="">
            </div>
            <div class="allText">
                <div class="headerText txtc">
                    <span>Снижение темпа</span>
                </div>
                <div class="infoText">
                    <span>
                       2015 год стал более спокойным для компании. Она представила первую экшн-камеру под брендом Yi, новые смартфоны в линейках Redmi, Redmi Note и Mi Note и несколько модификаций флагмана Mi4, а также сегвей, новый бюджетный телевизор Mi TV 2, Mi Pad 2 и множество мелкой техники, вроде тестера для воды, беспроводной колонки и геймпада.
В феврале 2015 года появилось сообщение, что смартфоны Xiaomi будет продавать в США оператора US Mobile. Позже выяснилось, что они просто импортируют устройства из Китая как есть, без поддержки многих LTE-частот и локальных сервисов. Xiaomi объяснила, что US Mobile не является официальным дистрибьютором их смартфонов и компания вообще не планирует пока продавать устройства в США.
<br><br>
Зато в июне 2015 года компания «Марвел-Дистрибуция» официально привезла в Россию планшет Mi Pad по цене в 17 990 рублей. Это был неплохой ценник, если учитывать, что в китайских интернет-магазинах его можно было купить за 13-14 тысяч.
Последний квартал 2015 год закрыт с долей на мировом рынке в 18,2% на пятом месте.
<br><br>
Вспышка COVID-19 серьезно повлияла на работу китайский фабрик и заводов, в том числе и тех, которые занимаются производством смартфонов. Из-за закрытия на карантин завода Foxconn о дефиците своих устройств заявила даже Apple. Наконец, карантин в Китае завершен. Подробности читайте в нашей статье.
<br><br>
Так, в ходе недавней онлайн-конференции один из топ-менеджеров Xiaomi рассказал о том, как же компания борется с кризисом, вызванным эпидемией COVID-19. По его словам, все 2000 сотрудников Xiaomi в провинции Ухань не участвовали в процессе производства, начиная аж с 20 января. На данный момент все они вернулись к своей работе, каждый работник получил защитную маску, спрей для дезинфекции и противомикробное средство для рук.
<br><br>
Отмечается, что Xiaomi восстановила уже более чем 80% от общего объема выпуска устройств, открыла 1800 фирменных магазинов в Китае, которые были закрыты на карантин. Конвейеры бренда Redmi работают уже в полную мощность. Ожидаются поставки гуманитарной помощи в виде медицинских расходных материалов в другие страны.
<br><br>
Аналогичная ситуация обстоит с бизнесом Xiaomi в Индии. На прошлой неделе Мурали Кришнан, директор по производству Xiaomi в Индии, сообщил, что эпидемия коронавируса не повлияла на работу местных заводов. Примечательно, что в Индии уже продаются новые смартфоны линейки Redmi Note 9, которые до сих пор не представлены в Китае.</span>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container flex jcsb aic">
        <div class="leftFooter">
            <div class="mob"><span>8-800-775-66-15</span></div>
            <div class="timeWork"><span>Часы работы с 9:00 до 20:00 МСК, Пн. – Пт</span></div>
        </div>
        <div class="rightFooter">
            <div class="mainBtn">
                <a href="https://account.xiaomi.com/pass/serviceLogin?callback=https%3A%2F%2Fru.support.kefu.mi.com%2Fsts%3Fsign%3Det%252Bo13G%252F1ziIxrnhFQdpny%252FfBaw%253D%26followup%3Dhttp%253A%252F%252Fru.support.kefu.mi.com%252Fpage%252Findex%252Fv2%253Ftag%253Dru%2526token%253DcnUud2ViLm1pIzdzYjJxTXFZNVQ%2526locale%253Dru&sid=kefusupport_ru" target="_blank">
                    <div class="buttonHelp">
                        <span>Онлайн-поддержка</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>

<script src="../OpenMe.js"></script>
</body>
</html>