<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сложный российский рынок</title>
    <link rel="stylesheet" href="styleInfo.css">
    <link rel ="icon" href="../Content/Image/favicon.ico" type="images/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
    <div class="container">
        <div class="infoHeader flex jcsb aic jcc">
            <div class="logo flex aic">
                <div class="imgHeader">
                    <a href="../index.html">
                        <img src="../Content/Image/full.png" alt="">
                    </a>
                </div>
                <a href="../index.html"><span>XIAOMI</span></a>
            </div>
            <div class="webHeader">
                <a href="https://www.mi.com/ru/index.html">mi.com</a>
                <a href="https://ru.c.mi.com">MI Помощь</a>
            </div>
            <div class="menu flex aic" onclick="OpenMe()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div id="showMeBlock">
                <div class="flex txtc jcc aic">
                    <a href="https://www.mi.com/ru/index.html">mi.com</a>
                    <a href="https://ru.c.mi.com">MI Помощь</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="textInfo aic">
            <div class="imgMain flex jcc">
                <img src="../Content/Image/7.jpg" alt="">
            </div>
            <div class="allText">
                <div class="headerText txtc">
                    <span>Сложный российский рынок</span>
                </div>
                <div class="infoText">
                    <span>
                      В 2016 году произошло знаковое событие для россиян. Представили очередной флагман Mi5, «умный» велосипед QiCycle, линейку ноутбуков Mi Notebook и смартфон Redmi Pro.

В мае 2016 года начались продажи смартфона Xiaomi Mi4i через интернет-магазины «Связного» и «Евросети». Чуть позже в онлайн-рознице появились и другие модели. Потом Xiaomi наконец-то поняла (либо ей объяснили), что бизнес-стратегия с онлайн-продажами маленькими партиями не работает на других рынках. Поэтому ей пришлось адаптироваться. И только в октябре компания с помощью нового официального дистрибьютора «Смарт оранж» открыла первый брендовый офлайн-магазин в Москве. Так начались постепенные попытки завоевать российский рынок.
<br><br>
Нельзя сказать, что россияне восприняли с теплом появление «белых» смартфонов Xiaomi в России. Многие жаловались на высокую наценку, например, у Xiaomi Mi5: в Китае он стоит 1999 юаней или около 20 тысяч рублей по курсу того времени или 35 тысяч рублей в официальной российской рознице. Разница большая.
<br><br>
2017 года для Xiaomi в России начался еще хуже. Видимо, Xiaomi и российский дистрибьютор «Смарт оранж» оказались недовольными продажами смартфонов в России и перешли на радикальные меры.
<br><br>
В апреле на тематических форумах и в соцсетях начали появляться жалобы, что техника компании Xiaomi, купленная в китайском интернет-магазине, не проходит таможню. Покупатели получали письма примерно одного содержания: это контрафактный товар, нарушающий права компании «Смарт оранж». Так началась небольшая война с «серыми» устройствами.
<br><br>
Позже выяснилось, что работники таможни запрещали ввозить смартфоны Xiaomi после обращения компании «Смарт оранж», которой принадлежат права на бренд в России. Возникла огромная неразбериха: одни юристы говорят, что действия дистрибьютора вполне законны, а другие — что таможня не может признать товар контрафактным без решения суда. Но факт остается фактом — многие покупатели не получили свои устройства.
<br><br>
Рассерженные покупатели оформили петицию на сайте Change.org, направленную руководству компании Xiaomi. Среди жалоб есть пункты о том, что «Смарт оранж» продает смартфоны по «чрезмерно завышенным ценам» и такая политика может негативно сказаться на репутации компании. Чуть позже выяснилось, что руководство Xiaomi уже в курсе ситуации, и они вместе с дистрибьютором пытаются решить проблему.
<br><br>
Ситуация разрешилась только в начале июля, когда Федеральная таможенная служба сообщила о поступлении официального обращения правообладателя («Смарт оранж»), который разрешил штучный ввоз устройств под брендом Xiaomi в Россию по почте.
<br><br>
Американский рынок Xiaomi захватить так и не удалось. Да и руководство компании постоянно утверждает, что США не является приоритетом для них. Поэтому на сайте mi.com там продаются только аксессуары и мелкая техника.

                   <video alt="Открытие первого официального магазина Xiaomi в России" controls >
  <source src="../Content/Image/7.1.mp4">
  </video>

                        Зато летом 2017 года компания представила первый смартфон без MIUI — Xiaomi Mi A1. На самом деле это модель Mi5X, выпущенная совместно с Google в рамках проекта Android One. Цель проекта — создать линейку доступных смартфонов с чистым Android. Из необычных результатов сотрудничества могу отметить выпуск официальной прошивки Windows 10 Mobile для Xiaomi Mi4 и Mi5.
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container flex jcsb aic">
        <div class="leftFooter">
            <div class="mob"><span>8-800-775-66-15</span></div>
            <div class="timeWork"><span>Часы работы с 9:00 до 20:00 МСК, Пн. – Пт</span></div>
        </div>
        <div class="rightFooter">
            <div class="buttonHelp">
                <span>Онлайн-поддержка</span>
            </div>
        </div>
    </div>
</footer>

<script src="../OpenMe.js"></script>
</body>
</html>