<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Компания сейчас</title>
    <link rel="stylesheet" href="styleInfo.css">
</head>
<body>

<header>
    <div class="container">
        <div class="infoHeader flex jcsb aic jcc">
            <div class="logo flex aic">
                <div class="imgHeader">
                    <a href="../index.html">
                        <img src="../Content/Image/full.png" alt="">
                    </a>
                </div>
                <a href="../index.html"><span>XIAOMI</span></a>
            </div>
            <div class="webHeader">
                <a href="https://www.mi.com/ru/index.html">mi.com</a>
                <a href="https://ru.c.mi.com">MI Помощь</a>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="textInfo aic">
            <div class="imgMain flex jcc">
                <img src="../Content/Image/8.jpg" alt="">
            </div>
            <div class="allText">
                <div class="headerText txtc">
                    <span>Компания сейчас</span>
                </div>
                <div class="infoText">
                    <span>

Линейку устройств и аксессуаров Xiaomi невозможно посчитать по пальцам. Может показаться, что компания выпустила всевозможные гаджеты: наушники, весы, увлажнители воздуха, чайники, сумки, рюкзаки и чемоданы, камеры наблюдения, огромную линейку устройств «умного» дома с датчиками движения, температуры и прочим, и так можно перечислять до бесконечности. Также у Xiaomi есть множество дочерних компаний, которые выпускают «умные» колонки и различные электрические отвертки.
<br><br>
С 2011 года она выпустила почти 50 смартфонов, три планшета и несколько ноутбуков. И точно не собирается останавливаться. По результатам третьего квартала 2017 года компания вернулась в пятерку лидеров среди мировых производителей с долей рынка 7,4% — прирост год к году 102%. Очень хороший результат.
<br><br>
Компания эффективно работает не только в Китае, но и уверенно чувствует себя на немаленьком рынке Индии.
<br><br>
Многие не знают, что у Xiaomi есть своя краудфандинговая площадка Youpin.mi.com — аналог зарубежного Kickstarter. Там любая маленькая компания может открыть сбор средств на новое устройство или аксессуар. Можно найти множество интересных вещей, типа электронной сигареты с витаминами или «умного» дверного замка со сканером отпечатков пальцев. Но сайт работает только на китайском языке.
<br><br>
В январе 2017 года Хьюго Барра покинул компанию Xiaomi, в которой проработал больше трех лет, и устроился в Facebook руководителем команды виртуальной реальности Oculus.
<br><br>
В России Xiaomi чувствует себя неплохо, несмотря на скандал с таможней. В июле 2017 года она заняла пятое место с долей рынка 4,4%. В середине ноября открылся первый круглосуточный магазин Xiaomi в Москве, и объявили старт продаж безрамочного флагмана Mi MIX 2, экшн-камеры, новых весов и «умной» лампы.
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container flex jcsb aic">
        <div class="leftFooter">
            <div class="mob"><span>8-800-775-66-15</span></div>
            <div class="timeWork"><span>Часы работы с 9:00 до 20:00 МСК, Пн. – Пт</span></div>
        </div>
        <div class="rightFooter">
            <div class="buttonHelp">
                <span>Онлайн-поддержка</span>
            </div>
        </div>
    </div>
</footer>

</body>
</html>